{
  "branches": ["main"],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "releaseRules": [
          { "breaking": true, "release": "major" },
          { "type": "feat", "release": "minor" },
          { "type": "build", "release": "patch" },
          { "type": "chore", "release": "patch" },
          { "type": "ci", "release": "patch" },
          { "type": "docs", "release": "patch" },
          { "type": "fix", "release": "patch" },
          { "type": "perf", "release": "patch" },
          { "type": "refactor", "release": "patch" },
          { "type": "revert", "release": "patch" },
          { "type": "style", "release": "patch" },
          { "type": "test", "release": "patch" }
        ]
      }
    ],
    [
      "@google/semantic-release-replace-plugin",
      {
        "replacements": [
          {
            "files": ["xmake.lua"],
            "from": "local version = \".*\"",
            "to": "local version = \"${nextRelease.version}\"",
            "results": [
              {
                "file": "xmake.lua",
                "hasChanged": true,
                "numMatches": 1,
                "numReplacements": 1
              }
            ],
            "countMatches": true
          }
        ]
      }
    ],
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/github",
      {
        "draftRelease": true
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": ["xmake.lua"],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ]
  ]
}
